* {
  margin: 0;
  box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows:  1fr 2fr 5fr;
    height: 100vh;
    width: 100vw;
    background-color: cornsilk;
}
header {
    display: flex;
    justify-content: center;
    margin-inline: 2rem;
    padding: 2rem;
    width: 100vw;
    max-height: 0.3rem;
}
#title {
  color: rgb(148, 44, 44);
  
}
#container {
  display: grid;
  justify-content: center;
  margin-inline: auto;
}
.colored {
  background-color: black
}
.btn {
  width: 6rem;
  max-height: 3rem;
  font-size: 1.3rem;
  font-weight: 700;
  box-shadow: 5px 5px 10px black;
}
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-inline: auto;
  gap: 2rem;
  width: 50vw;
}